<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CourseSection" type="CourseraDownloader.Model.CourseSection, CourseraDownloader"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="email" value="sakonque@gmail.com"/>
    <add key="password" value=""/>
    <add key="remember" value="true"/>
    <add key="name" value="Chen Xiaonan"/>
    <add key="savePath" value="D:\360Downloads\"/>
  </appSettings>

  <CourseSection>
    <Courses>
      <add name="Model Thinking" school="Michigan U." week="10" url="https://class.coursera.org/modelthinkingzh-001/lecture"/>
      <add name="Machine Learning Techniques" school="Taiwan U." week="8" url="https://class.coursera.org/ntumltwo-001/lecture"/>
      <add name="人人都懂的编程课(Python)" school="Michigan U." week="10" url="https://class.coursera.org/pythonlearn-004/lecture"/>
      <add name="Game Theory" school="Tokyo U." week="4" url="https://class.coursera.org/welcomegametheory-001/lecture"/>
    </Courses>
  </CourseSection>
</configuration>